/* 
Acomodo de estilos
1.Posicionamiento
2.Modelo 
3.Tipografia
4.Visuales
5.Otros */

:root {
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #ffffff;
    --turquise: rgb(13, 175, 187);
    --yellow:rgb(179, 176, 21);
  } 
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    font-size: 62.5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  main .main-content{
      display: grid;
      grid-template-columns:repeat(3, 1fr);
      grid-gap: 5px;
      width: 100%;
      
  }
  .container1,.container2,.container3,.container4,.container5,.container6,.container7,.container8,.container9{
    display: flex;
    background-color: var(--turquise);
    width: 180px;
    height: 180px;
  }

  .element1,.element2,.element3{
    width:  60px;
    height: 60px;
    font-size:1.4rem;
    padding-top:10px;
    text-align:center;
    box-sizing: border-box;
    background-color: var(--grey);
}
.container1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.container2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container3{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.container4{
    display: flex;
    justify-content: center;
    align-items: flex-start;      
}

.container5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container6{
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}

.container7{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;  
}
.container8{
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

.container9{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
}

